.header {
  text-align: center;
  font-family: 'Trade Winds', sans-serif;
}

.missingcat {  
width: 2in;
height: 2in;
margin: auto;
margin-left: auto;
margin-right: auto;
display: block;
} 

.footer {
  text-align: center;
  font-family: 'Trade Winds', sans-serif;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}