body {
  background-image: url(https://images.unsplash.com/photo-1470058869958-2a77ade41c02?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  background-color: #efc862;
  color: yellow !important;
  opacity: 0.8;
}

.nav-link {
  margin: right 75px;
  color: orangered !important;
}

.nav-pills .nav-link.active {
  background-color: #735729 !important;
}

.header {
  text-align: center;
  font-family: "Trade Winds", sans-serif;
  font-size: 5rem;
  margin-top: 25px;
  color: orangered;
}

.missingcat {
  width: 2in;
  height: 2in;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  text-align: center;
  font-family: "Trade Winds", sans-serif;
  bottom: 0;
  color: orangered;
  font-size: 18px;
  padding: 20px;
  text-shadow: #fc0 1px 0 10px;
}

.navbar {
  text-decoration: none;
  font-family: "Trade Winds", sans-serif;
  color: yellow;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;
}

.home-cat {
  background-image: url("https://images.unsplash.com/photo-1623645481161-0d8160281cbf?q=80&w=1942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 550px;
}

.new-form {
  font-family: "Trade Winds", sans-serif;
  color: orangered;
  margin-top: 10px;
  margin-bottom: 10px;
}

.view-button {
  background-color: #efc862 !important;
  color: orangered;
  font-family: "Trade Winds", sans-serif;
}

.card {
  background-color: #52a249 !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 2s ease-in-out infinite; /* Adjust the duration as needed */
}

.playing {
  animation-play-state: paused;
}

.showcat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px solid orangered;
  width: 700px;
  height: 550px;
}
.show-button {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  font-family: "Trade Winds", sans-serif;
}

.show-text {
  background-color: #d3c7bb;
  color: #005222;
  text-align: center;
  font-family: "Trade Winds", sans-serif;
  font-size: 1rem;
  margin-right: 25%;
  margin-left: 25%;
}

.index-img {
  height: 200px;
  width: auto;
  max-width: 100%;
  opacity: 1;
}

.carousel-control-next-icon {
  background-image: url("./assests/tiger_1.png") !important;
  width: 5rem !important;
  height: 3rem !important;
}

.carousel-control-prev-icon {
  background-image: url("./assests/tiger_2.png") !important;
  width: 5rem !important;
  height: 3rem !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  color: orangered;
  margin: auto;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: 50% 50%;
}

.hover-text .text {
  position: absolute;
  bottom: 30px;
  left: 0px;
  visibility: hidden;
  color: white;
  font-size: 2rem;
}

.hover-text:hover .text {
  visibility: visible;
}
